
html, body{
    background-image: url('https://image.api.playstation.com/vulcan/img/rnd/202010/2716/8pc2fi23ksuIvi0gEHO5EqV2.png');
    background-repeat: no-repeat;
    background-size: 1400px 700px
}

.hidden button{
    display: none;
    
}

.hidden:hover button {
    display: block;
}